p:hover {
    color: red;
    cursor: pointer;
}

img {
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

#modalContainer {
    position: absolute;
    left: 25vw;
}

.modal {
    width: 500px;
    height: 775px;
    background-color: bisque;
    padding-top: 20px;
}

.open {
    animation: scaleUpModal 1.5s ease-in-out;
}

.closing {
    animation: scaleDownModal 1.5s ease-in-out;
}

@keyframes scaleUpModal {
    0% { scale: 0 }
    100% { scale: 1}
}

@keyframes scaleDownModal {
    0% { scale: 1}
    100% { scale: 0}
}

#detailsBox {
    height: 300px;
    width: 450px;
    overflow-y: scroll;
    background-color: gray;
    display: block;
    margin: 0 auto;
    padding-left: 10px;
}

.closeBtn {
    position: absolute;
    top: 0px;
    left: 20px;
}